.homeMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vh;
    gap: 1vh;
    background-color: black;
    height: 100vh;
    color: white;
}

.boxdisplay{
    width: 20vh;
    height: 20vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    font-size: 10vh;
    color: white;
    cursor: pointer;
}

.homeBox{
    display: flex;
    gap: 1vh;
    flex-direction: row;
}

.winnerClass{
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    font-size: 15vh;
}
.winnerClass button{
    padding: 1vh;
    border: none;
    background-color: aliceblue;
}

@media screen {
    .boxdisplay{
        width: 15vh;
        height: 15vh;
    }
}